<?xml version="1.0"?>
<!--
  ~ Copyright © Websolute spa. All rights reserved.
  ~ See LICENSE and/or COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <transporter>
            <cleaner>
                <cleaner_all_enabled>0</cleaner_all_enabled>
                <cleaner_all_hours_to_keep>48</cleaner_all_hours_to_keep>
                <cleaner_all_cron_expression>0 */6 * * *</cleaner_all_cron_expression>
                <cleaner_completed_enabled>0</cleaner_completed_enabled>
                <cleaner_completed_hours_to_keep>24</cleaner_completed_hours_to_keep>
                <cleaner_completed_cron_expression>0 */3 * * *</cleaner_completed_cron_expression>
            </cleaner>
        </transporter>
    </default>
</config>
